<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>startup</title>
</head>
<body>
    <div class="page-main">
        <img src="" alt="">
            <header>
                    <div class="header">
                        <a href="" class="header_logo"></a>
                        <ul class="header-list">
                           <li class="header-list__item">Home</li>
                           <li class="header-list__item">Cerviced</li>
                           <li class="header-list__item">About</li>
                           <li class="header-list__item">Works</li>
                           <li class="header-list__item">Blog</li>
                           <li class="header-list__item">Clients</li>
                           <li class="header-list__item">Contact</li>
                        </ul>
                    </div>
                </header>
        <div class="wrap">
           <h2>WELCOME TO STARTUP</h2>
           <p>Your Favourite Creative Agency Template</p>
           <button>Get Started</button>
        </div>
    </div>
</body>
</html>