<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>startup</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-main">
        <div class="wrap">
                <header>
                        <div class="header">
                            <h3 class="header__logo">Startup</h3>
                            <ul class="header-list">
                               <li class="header-list__item">Home</li>
                               <li class="header-list__item">Cerviced</li>
                               <li class="header-list__item">About</li>
                               <li class="header-list__item">Works</li>
                               <li class="header-list__item">Blog</li>
                               <li class="header-list__item">Clients</li>
                               <li class="header-list__item">Contact</li>
                            </ul>
                        </div>
                    </header>
            <div class="wrap">
                <div class="page-text">
                        <h2 class="page-text__title">WELCOME TO STARTUP</h2>
                        <p class="page-text__text">Your Favourite Creative Agency Template</p>
                        <button>Get Started</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>